
.todo{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}
.todo button {
    background-color: rgb(10, 6, 66);
    font-size: 24px;
    padding: 16px 23px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;
}
.todo button:hover{
    transform: scale(1.2);
}

.buttonBox{
    position: fixed;
    right: 0;
    top: 50%;
    bottom:50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.todoBar{
    width: 100%;
    min-height: 50px;
    max-width: 600px;
    background-color: coral;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-weight: 500;
    overflow: hidden;
    padding: 10px 0px;
}

.icon2 > .del{
    background-color: black;
    width:30px;
    height:30px;
    padding: 0;
    border: none;
    font-size: 15px;
    color: bisque;
}

.icon2 > .next{
    background-color: rgb(215, 197, 248);
    width: 30px;
    height:30px;
    font-size: 15px;
    padding: 0;
    color: black;
    font-weight: 600;
    border: none;
}

.icon1 > .checkbox{
    width: 20px;
    height:20px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}

.icon1 > .box{
    background-color: rgb(111, 245, 145);
}


.icon1, .icon2{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 15%;
}
.text1, .text2{
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    padding: 0px 5px;
}
.text2{
    text-decoration: line-through;
}

.textbox{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='text']{
    outline: none;
    padding-left: 12px;
    border: none;
    width: 90%;
    border-radius: 20px;
    height: 50%;
    font-size: 14px;
    background-color: #313552;
    font-weight: 600;
    color: white;
}
